.colorPickerWrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}
.colorPicker {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.colorPicker input[type=number] {
  margin-right: 10px;
  width: 50px;
}

.colorPicker button {
  margin: 20px;
  padding: 10px;
}

#convertedLuminance {
  display: none;
}

#colorBox {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  height: 100px;
  width: 100px;
}